*.pyc
\#*
.\#*
*~
kklib.py
auth.py
log.org
.ipynb_checkpoints/
predictive/*/**
__pycache__/*/**
logs/*/**
logs/*
conf/0*
conf/cleanup.sh
dummy_logs/*/**
dummy_logs/*
output/*
sandbox/*
simresult*
trigger_template.txt
test.py
print_report.py
print_order.py
profit_report.py
assets.txt
param_opt.py
opt_launcher.py
perf_eval.py
proc_starter.py
coinbase_interface.py
adjust_assets.py